
@model AplicacionWebASP.NetClase02.Models.ViewModels.tb_empleadoViewModel

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>BIENVENIDOS</h1>
<style>
</style>

<h1>@ViewBag.id</h1>
<br class="Apple-interchange-newline">
<h1>@ViewBag.nombre</h1>

@using (Html.BeginForm("Save", "Empleado", FormMethod.Post))
{
<div>
    <label>Id</label>
    @Html.TextBoxFor(m => m.idEmpleado, new {type = "number" });

    <label>Nombre</label>
    @Html.TextBoxFor(m => m.Emple_Nombre);

    <label>DUI</label>
    @Html.TextBoxFor(m => m.Emple_DUI);

    <label>Dirección</label>
    @Html.TextBoxFor(m => m.Emple_direccion);

    <label>Télefono</label>
    @Html.TextBoxFor(m => m.Emple_tel);

    <label>Correo</label>
    @Html.TextBoxFor(m => m.Emple_email);


    <label>Cargo</label>
    @Html.TextBoxFor(m => m.Emple_cargo);



</div>
}

